<header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 ">
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#" style= "color:#f2f2f2
                                        "><i class="fa fa-envelope"></i> synergyhmo.com</a></li>
                                    <li><a href="#" style= "color:#f2f2f2"> <i class="fa fa-phone"></i> 0803-826-2928</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img style = "width:100px" src="img/Sy.png"  alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="health-Plans.html">Our Health Plans <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="Basic.html">Basic</a></li>
                                                <li><a href="Silver.html">Silver</a></li>
                                                <li><a href="Gold.html">Gold</a></li>
                                                <li><a href="Platinum.html">Platinum</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="ProviderDirectory.html">Hospital Networks </a></li>
                                        <li><a href="Blog.html">Blog </a></li>
                                        <li><a href="About.html">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form" href="#test-form">Buy a Plan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>